{% extends "base.html" %}
{% block title %}Links{% endblock %}
{% block content %}
<section id="links" class="links mb-4 p-4 bg-white rounded shadow-sm">
    <h2 class="section-title h4">Links</h2>
    <ul class="list-unstyled">
         <li class="bg-light p-2 mb-2 rounded">
            <a href="https://github.com/Matheus38652" class="text-dark" target="_blank">GitHub</a>
        </li>
        <li class="bg-light p-2 mb-2 rounded">
            <a href="https://www.linkedin.com/in/matheus-silva-b83841216/" class="text-dark" target="_blank">LinkedIn</a>
        </li>

    </ul>
</section>
{% endblock %}
