{% extends "base.html" %}
{% block title %}Projetos{% endblock %}
{% block content %}
<div class="container-xxl mt-4">
    <section id="projects" class="projects mb-4 p-4 bg-white rounded shadow-sm">
        <h2 class="section-title h4">Projetos</h2>
        <p>Aqui estão alguns dos meus projetos:</p>
        <div class="container mb-4">
            <div class="project">
                <h3 class="h5">Projeto 1</h3>
                <img src="{{ url_for('static', filename='projeto.jpeg') }}" alt="Controle de Acesso" class="img-fluid mb-3">
                <p>Se trata de um sistema para realizar um controle de acesso a um determinado prédio/empresa.</p>
            </div>
        </div>
        <div class="container mb-4">
            <div class="project">
                <h3 class="h5">Projeto 2</h3>
                <img src="{{ url_for('static', filename='pagpix.png') }}" alt="Projeto 2" class="img-fluid mb-3">
                <p>Aqui é apresentada uma página de pagamentos feita para gerar um QR code quando o cliente escolher o pagamento via Pix.</p>
            </div>
        </div>
        <div class="container mb-4">
            <div class="project">
                <h3 class="h5">Projeto 3</h3>
                <img src="{{ url_for('static', filename='descsite.png') }}" alt="Projeto 3" class="img-fluid mb-3">
                <p>Este projeto envolve o desenvolvimento de um site para a venda de componentes de hardware.</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
